{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block div %}
    <section class="section" id="about">
        <div class="container">
                <h1>Cursos</h1>
                    <a href="{{ path('app_cursos_new') }}" class="btn btn-primary w-lg">Create new</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Estado</th>
                                <th>Descripcion</th>
                                <th>Imagen</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for curso in cursos %}
                            <tr>
                                <td>{{ curso.titulo }}</td>
                                <td>{{ curso.estado ? 'Yes' : 'No' }}</td>
                                <td>{{ curso.descripcion }}</td>
                                <td>
                                    <img src=""{{ asset('uploads/' ~ curso.imagen) }}"" alt="Imagen del curso">
                                </td>

                                <td>
                                    <a href="{{ path('app_cursos_show', {'id': curso.id}) }}">Show</a>
                                    <a href="{{ path('app_cursos_edit', {'id': curso.id}) }}">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    
                </div>
        </div>
    </section>    
{% endblock %}
