{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block div %}
    <div style="margin-left: 20px;">
        <h1>Cursos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Estado</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    <td class="table-active">{{ curso.id }}</td>
                    <td>{{ curso.titulo }}</td>
                    <td>{{ curso.estado ? 'Yes' : 'No' }}</td>
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.imagen }}</td>
                    <td>
                        <a href="{{ path('app_cursos_show', {'id': curso.id}) }}" style="margin-right: 2px;">Show /</a>
                        <a href="{{ path('app_cursos_edit', {'id': curso.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_cursos_new') }}" style="font-weight: 600;">Create new</a>
    </div>
{% endblock %}
