{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block div %}

<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
            <h1>Curso</h1>
                    <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Titulo</th>
                                    <td>{{ curso.titulo }}</td>
                                </tr>
                                <tr>
                                    <th>Estado</th>
                                    <td>{{ curso.estado ? 'Yes' : 'No' }}</td>
                                </tr>
                                <tr>
                                    <th>New</th>
                                    <td>{{ curso.new ? 'Es nuevo' : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <td>{{ curso.descripcion }}</td>
                                </tr>
                            </tbody>
                    </table>
            </div>
            <div class="col-md-6 pl-md-5">
                <img src="{{ asset('uploads/')}}{{ curso.imagen }}" class="img-fluid" alt="{{ curso.titulo }}">
            </div>
        </div>
        <h2>Alumnos apuntados a este curso</h2>
        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for a in curso.alumnoscursos %}
                            <tr>
                                <td>{{ a.FkAlumno.id }}</td>
                                <td>{{ a.FkAlumno.nombre }}</td>
                                <td><a href="{{ path('app_alumnos_show', {'id': a.FkAlumno.id}) }}">Show</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">No hay ningun alumno realizando este curso</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            <a href="{{ path('app_cursos_edit', {'id': curso.id}) }}" class="btn btn-outline-primary" style="font-weight: 600; margin-bottom: 10px; width: 85px;">Edit</a>
            {{ include('cursos/_delete_form.html.twig') }} 
            <div style="margin-top: 20px;">
                <a href="{{ path('app_cursos_index') }}" >Back to list</a>
            </div>
    </div>
</section>

{% endblock %}
