{% extends 'base.html.twig' %}

{% block title %}Alumnos {% endblock %}

{% block div %}
    <section class="section" id="about">
        <div class="container">
            <h1>Alumnos</h1>
            <a href="{{ path('app_alumnos_new') }}" class="btn btn-primary w-lg">Create new</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Fecha nacimiento</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for alumno in alumnos %}

                    <tr>
                        <td><strong>{{ alumno.nombre }}</strong></td>
                        <td><strong>{{ alumno.primerApellido }}</strong></td>
                        <td><strong>{{ alumno.segundoApellido }}</strong></td>
                        <td>{{ alumno.fechaNacimiento ? alumno.fechaNacimiento|date('d-M-Y') : '' }}</td>
                        <td>
                            <a href="{{ path('app_alumnos_show', {'id': alumno.id}) }}">show</a>
                            <a href="{{ path('app_alumnos_edit', {'id': alumno.id}) }}">edit</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                                <!-- empieza tabla -->
                                <table>
                                        <tr>
                                            <td><a href="tel:{{ alumno.telefono }}" title="Llamar por télefono a {{ alumno.nombre }}">{{ alumno.telefono }}</a></td>
                                            <td><a href="mailto:{{ alumno.email }}" title="Enviar a {{ alumno.nombre }} un e-mail">{{ alumno.email }}</a></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ alumno.codigoPostal }}</td>
                                            <td>{{ alumno.poblacion }}</td>
                                            <td>{{ alumno.domicilio }}</td>
                                        </tr>
                                 </table>
                                <!-- termian tabla -->
                        <td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% endblock %}

