    <!-- Portfolio Section -->

    
    <section id="portfolio" class="section portfolio-section">
        <div class="container">
            <h6 class="section-title text-center">Nuestros cursos</h6>
            
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        New
                    </a>
                    {% for curso in tipos %}
                        <a href="#" data-filter=".{{ curso.tipo }}">
                            {{ curso.tipo }}
                        </a>
                    {% endfor %}
                </div>
            <div class="portfolio-container"> 
            {% for curso_dos in cursos %}
                <div class="col-md-6 col-lg-4 {{ curso_dos.tipo }} {{ curso_dos.new ? 'new':'' }}">
                    <div class="portfolio-item">
                        <img src="{{ asset('uploads/')}}{{ curso_dos.imagen }}" class="img-fluid" alt="{{ curso_dos.tipo }}">
                        <div class="content-holder">
                            <a class="img-popup" href="{{ path('app_cursos_show', {'id': curso_dos.id}) }}">
                            <div class="text-holder">
                                <h6 class="title">{{ curso_dos.tipo }}</h6>
                                <p class="subtitle">{{ curso_dos.titulo }}</p>
                            </div>
                            </a>
                        </div>   
                    </div>             
                </div>

            {% endfor %}
            </div>
        </div>            
    </section>
    <!-- End of portfolio section -->