    <!-- Portfolio Section -->

    
    <section id="portfolio" class="section portfolio-section">
        <div class="container">
            <h6 class="section-title text-center">Nuestros cursos</h6>
            
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        New
                    </a>
                    {% for curso in tipos %}
                        <a href="#" data-filter=".{{ curso.titulo }}">
                            {{ curso.titulo }}
                        </a>
                    {% endfor %}
                </div>
            <div class="portfolio-container"> 
            {% for curso_dos in cursos %}
                <div class="col-md-6 col-lg-4 {{ curso_dos.titulo }} new">
                    <div class="portfolio-item">
                        <img src="assets/imgs/web-1.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                        <div class="content-holder">
                            <a class="img-popup" href="{{ path('app_cursos_show', {'id': curso_dos.id}) }}"></a>
                            <div class="text-holder">
                                <h6 class="title">{{ curso_dos.titulo }}</h6>
                                <p class="subtitle">{{ curso_dos.descripcion }}</p>
                            </div>
                        </div>   
                    </div>             
                </div>

            {% endfor %}
            </div>
        </div>            
    </section>
    <!-- End of portfolio section -->